@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manpore: var(--font-manpore);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;

}

body {
  overflow-x: hidden;
  background: #000;
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1 {
  font-size: 2.875rem;
  font-family: var(--font-manpore);
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--font-manpore);
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

h3 {
  font-size: 2rem;
  font-family: var(--font-manpore);
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: 1.375rem;
  /*line-height: 1;*/
  font-weight: 700;
}

/* Mainly for hiring page */
h5 {
  font-family: var(--font-manpore);
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1;
  text-wrap: balance;
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.375rem;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.75rem;
  }
}

.button-gradient{
  background: linear-gradient(180deg, #FFFFFF -21.83%, rgba(255, 255, 255, 0.7) 100%);
  color: black;
  font-size: 0.6875rem ;
  font-weight: 700;
  font-family: var(--font-manpore);
  text-transform: uppercase;
  padding: 0 0 0 20px;
  border-radius: 30px;
  letter-spacing: 1px;
}

.text-gold {
  background: linear-gradient(309.94deg, rgba(173, 141, 85, 0.9) 5.06%, #D2AD75 23.8%, #E8CDA0 38.72%, #D2AD75 63.7%, rgba(173, 141, 85, 0.9) 77.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-gray {
  background: linear-gradient(90deg, #4C4C4C 0%, #B2B2B2 67.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-whitisch {
  color: #9194a1;
}

.line-color{
  border-color: #2B2B2B;
}

.card-layer {
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 30.23%, rgba(3, 3, 3, 0.5) 56.88%, #0A0A0A 102.91%);

}
